/***mixin media query****/
/***color-variables**/
.main-container {
  animation: none;
}

/***header***/
header img {
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  header img {
    height: 383px;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  header img {
    height: 383px;
  }
}

/***menu-content***/
.menu {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin: -40px 0px 0px 0px;
  background-color: #F6F6F6;
  position: relative;
  padding: 28px 13px 40px 13px;
  /***keyframes apparition-check**/
  /***button***/
}
@media (min-width: 768px) and (max-width: 1024px) {
  .menu {
    margin: -40px 100px 0px 100px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .menu {
    margin-left: 13%;
    margin-right: 13%;
    padding: 28px 213px 40px 213px;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  .menu {
    margin-left: 13%;
    margin-right: 13%;
    padding: 28px 213px 40px 213px;
  }
}
.menu .menu-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .menu .menu-intro {
    justify-content: center;
    gap: 20px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .menu .menu-intro {
    margin-bottom: 40px;
    gap: 4%;
    justify-content: center;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  .menu .menu-intro {
    margin-bottom: 40px;
    gap: 4%;
    justify-content: center;
  }
}
.menu .menu-intro .like {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.menu .menu-intro .like .full-heart, .menu .menu-intro .like .empty-heart {
  position: absolute;
  font-size: 20px;
}
.menu .menu-intro .like .full-heart {
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 400ms;
}
.menu .menu-intro .like .full-heart:active, .menu .menu-intro .like .full-heart:hover {
  opacity: 1;
}
.menu .menu-intro .like .empty-heart {
  opacity: 1;
}
.menu .menu-intro .like .empty-heart:hover, .menu .menu-intro .like .empty-heart:active {
  opacity: 0;
}
.menu .menu-intro .menu-title {
  font-size: 28px;
  font-weight: 400;
  font-family: Shrikhand;
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu .menu-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .menu .menu-content {
    padding: 0px 30px 0px 30px;
  }
}
.menu .menu-content .article-one {
  animation: apparition 2s;
}
.menu .menu-content .article-two {
  animation: apparition 8s;
}
.menu .menu-content .article-three {
  animation: apparition 14s;
}
.menu .menu-content article {
  margin-bottom: 40px;
}
.menu .menu-content article h2 {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 6px;
  border-bottom: 3px solid #99E2D0;
  width: 11%;
}
.menu .menu-content article ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .menu .menu-content article ul {
    gap: 25px;
  }
}
.menu .menu-content article ul li {
  box-shadow: 0px 1px 10px 6px rgba(67, 67, 67, 0.1);
  border-radius: 15px;
  padding: 12px 15px 12px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.menu .menu-content article ul li:active .order, .menu .menu-content article ul li:hover .order {
  text-align: center;
  right: 0%;
  width: 10%;
  height: 36%;
  padding: 22px 12px;
  transition: 0.5s;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .menu .menu-content article ul li:active .order, .menu .menu-content article ul li:hover .order {
    width: 7%;
  }
}
.menu .menu-content article ul li:active .order .fa-circle-check, .menu .menu-content article ul li:hover .order .fa-circle-check {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 35%;
  right: 35%;
}
.menu .menu-content article ul li:active .text-meals, .menu .menu-content article ul li:hover .text-meals {
  width: 85%;
  transition: 0.5s;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .menu .menu-content article ul li:active .text-meals, .menu .menu-content article ul li:hover .text-meals {
    width: 88%;
  }
}
.menu .menu-content article ul li .text-meals {
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: 0.5s ease 0s;
  width: 100%;
  overflow: hidden;
}
.menu .menu-content article ul li .text-meals h3 {
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}
.menu .menu-content article ul li .text-meals .last-sentence-menu {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 15px;
}
.menu .menu-content article ul li .text-meals .last-sentence-menu .price {
  font-weight: 700;
  font-size: 15px;
  text-overflow: inherit;
  overflow: auto;
}
.menu .menu-content article ul li .text-meals .last-sentence-menu p {
  font-weight: 300;
  font-size: 15px;
}
.menu .menu-content article ul li .text-meals .last-sentence-menu .meals {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}
.menu .menu-content article ul li .order {
  right: 0%;
  transition: 0.5s ease 0s;
  width: 0%;
  height: 97%;
  position: absolute;
  top: 0%;
  background-color: #99E2D0;
  padding: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
}
.menu .menu-content article ul li .order .fa-circle-check {
  display: none;
  font-size: 20px;
  color: white;
  top: 50%;
}
.menu .pink-button {
  border-radius: 25px;
  border: 1px solid #FF79DA;
  background: linear-gradient(#FF79DA, #9356DC);
  display: flex;
  justify-content: center;
  margin: auto;
  transition: 2s;
}
.menu .pink-button:hover {
  opacity: 0.7;
  transition: 500ms;
  box-shadow: 5px 7px 8px rgba(82, 81, 81, 0.4);
}
.menu .pink-button p {
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 49px;
  padding-right: 49px;
}/*# sourceMappingURL=restaurants.css.map */