/***mixin media query****/
@mixin tablet
{
    @media (min-width: 768px) and (max-width:1024px) 
    {
        @content;
    }
}
@mixin desktop
{
    @media (min-width:1025px) and (max-width:1440px)
    {
        @content;
    }
}
@mixin large-desktop
{
    @media (min-width:1441px) and (max-width:10000px)
    {
        @content;
    }
}
.main-container
{
    animation: none;
}
/***header***/
.header
{
    img
    {
        height: 275px;
        object-fit: cover;
        @include desktop
        {
            height: 383px;
        }
        @include large-desktop
        {
            height: 383px;
        }
    }
}
/***menu-content***/
.menu
{
    display: flex;
    flex-direction: column;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin: -40px 0px 0px 0px;
    background-color: #F6F6F6;
    position: relative;
    padding: 28px 13px 40px 13px;
    @include tablet 
    {
        margin: -40px 100px 0px 100px;
    }
    @include desktop
    {
        margin-left: 13%;
        margin-right: 13%;
        padding: 28px 213px 40px 213px;
    }
    @include large-desktop
    {
        margin-left: 13%;
        margin-right: 13%;
        padding: 28px 213px 40px 213px;
    }
    .menu-intro
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        position: relative;
        @include tablet 
        {
            justify-content: center;
            gap: 20px;
        }
        @include desktop 
        {
            margin-bottom: 40px;
            gap: 4%;
            justify-content: center;
        }
        @include large-desktop 
        {
            margin-bottom: 40px;
            gap: 4%;
            justify-content: center;
        }
        .like
        {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 16px;
            .full-heart,.empty-heart
            {
                position: absolute;
                font-size: 20px;
            }
            .full-heart
            {
                opacity: 0;
                background: linear-gradient(#FF79DA,#9356DC);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                transition: all 400ms;
                &:active,&:hover
                {
                    opacity: 1;
                }
            }
            .empty-heart
            {
                opacity: 1;
                &:hover,&:active
                {
                    opacity: 0;
                }
            }
        }
        .menu-title
        {
            font-size: 28px;
            font-weight: 400;
            font-family: Shrikhand;
        }
    }
    /***keyframes apparition-check**/
    @keyframes apparition{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .menu-content
    {
        display: flex;
        flex-direction: column;
        @include tablet 
        {
            padding: 0px 30px 0px 30px;
        }
        .article-one
        {
            animation: apparition 2s;
        }
        .article-two
        {
            animation: apparition 8s;
        }
        .article-three
        {
            animation: apparition 14s;
        }
        article
        {
            margin-bottom: 40px;
            h2
            {
                font-size: 16px;
                font-weight: 300;
                padding-bottom: 6px;
                border-bottom: 3px solid #99E2D0;
                width: 11%;
            }
            ul
            {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: 12px;
                @include tablet 
                {
                    gap: 25px;
                }
                li
                {
                    box-shadow: 0px 1px 10px 6px rgba(67, 67, 67, 0.1);
                    border-radius: 15px;
                    padding: 12px 15px 12px 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    position: relative;
                    &:active,&:hover
                    {
                        .order
                        {
                            text-align: center;
                            right: 0%;
                            width: 10%;
                            height: 36%;
                            padding: 22px 12px;
                            transition: 0.5s;
                            @include desktop
                            {
                                width: 7%;
                            }
                            .fa-circle-check
                            {
                                display: flex;
                                justify-content: center;
                                position: absolute;
                                top: 35%;
                                right: 35%;
                            }
                        }
                        .text-meals
                        {
                            width: 85%;
                            transition: 0.5s;
                            @include desktop
                            {
                                width: 88%;
                            }
                        }
                    }
                    .text-meals
                    {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        transition: 0.5s ease 0s;
                        width: 100%;
                        overflow: hidden;
                        h3
                        {
                            font-size: 18px;
                            font-weight: 500;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            word-wrap: break-word;
                            white-space: nowrap;
                        }
                        .last-sentence-menu
                        {
                            display: flex;
                            justify-content: space-between;
                            font-weight: 300;
                            font-size: 15px;
                            .price
                            {
                                font-weight: 700;
                                font-size: 15px;
                                text-overflow: inherit;
                                overflow: auto;
                            }
                            p
                            {
                                font-weight: 300;
                                font-size: 15px;
                            }
                            .meals
                            {
                                text-overflow: ellipsis;
                                overflow: hidden;
                                word-wrap: break-word;
                                white-space: nowrap;
                            }
                        }
                    }
                    .order
                    {
                        right: 0%;
                        transition: 0.5s ease 0s;
                        width: 0%;
                        height: 97%;
                        position: absolute;
                        top: 0%;
                        background-color: #99E2D0;
                        padding: 0px;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        text-align: center;
                        .fa-circle-check
                        {
                            display: none;
                            font-size: 20px;
                            color: white;
                            top: 50%;
                        }
                    }
                }
            }
        }
    }
    /***button***/
    .pink-button
    {
        border-radius: 25px;
        border: 1px solid var(--main-bg-color);
        background: linear-gradient(#FF79DA,#9356DC);
        display: flex;
        justify-content: center;
        margin: auto;
        transition: 2s;
        &:hover
        {
            opacity: 0.7;
            transition: 500ms;
            box-shadow: 5px 7px 8px rgba(82, 81, 81, 0.4);
        }
        p
        {
            font-size: 16px;
            font-weight: 500;
            color: white;
            padding-bottom: 15px;
            padding-top: 15px;
            padding-left: 49px;
            padding-right: 49px;
        }
    }
}