/***General***/
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #9356DC;
  --main-bg-color: #FF79DA;
  --filter-bg-color: #99E2D0;
}

h1, h3, p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-block-start: 0px;
  margin-block-end: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 17px;
  font-weight: 300;
}

ul {
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

/***Header***/
.main-content {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
}
header img {
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo-header {
  display: flex;
  align-items: center;
}
.logo-header .arrow, .logo-header .white-arrow {
  display: flex;
  width: 20%;
  padding-left: 15px;
}
.logo-header .white-arrow {
  color: white;
}
.logo-header img {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 15px;
  height: auto;
}

.header-location {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #EAEAEA;
}
.header-location form {
  display: flex;
  justify-content: center;
}
.header-location form input[type=text i] {
  text-align: center;
  padding-inline-start: 0px;
  font-size: 16px;
  font-weight: 500;
  background-color: #EAEAEA;
  color: #353535;
}
.header-location form input {
  border-width: 0px;
}
.header-location form input::-moz-placeholder {
  color: black;
}
.header-location form input::placeholder {
  color: black;
}

/****Main-container -->homepage****/
.introduction {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.introduction h1 {
  display: flex;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  font-weight: 700;
  padding-top: 45px;
  padding-bottom: 10px;
}
.introduction p {
  display: flex;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 30px;
}
.introduction .pink-button {
  border-radius: 25px;
  border: 1px solid var(--main-bg-color);
  background: linear-gradient(#FF79DA, #9356DC);
}
.introduction .pink-button p {
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

/***main-container-functioning***/
/***functioning-box***/
.functioning {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 18px;
  padding-right: 18px;
}
.functioning .content-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.functioning .content-box .box {
  display: flex;
  align-items: center;
  width: 100%;
}
.functioning .content-box .box .number {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--main-color);
  border-radius: 50px;
  padding: 2px 6px 2px 6px;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
}
.functioning .content-box .box .section-box {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 7px 8px rgba(82, 81, 81, 0.1);
  padding: 26px 10px 26px 30px;
  margin-left: 10px;
  background-color: #F6F6F6;
}
.functioning .content-box .box .section-box p {
  padding-inline-start: 20px;
  font-size: 16px;
  font-weight: 500;
}
.functioning .content-box .box .section-box .fa-bars, .functioning .content-box .box .section-box .fa-mobile-screen-button {
  color: #7E7E7E;
}

/***Restaurants***/
.restaurants {
  background-color: #F6F6F6;
  padding: 40px 18px 40px 18px;
}
.restaurants .cards-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants .cards-content .cards-restaurants {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px rgba(187, 186, 186, 0.1);
  border-radius: 15px;
}
.restaurants .cards-content .cards-restaurants .new-badge {
  position: absolute;
  right: 36px;
  top: auto;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
}
.restaurants .cards-content .cards-restaurants img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 173px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .cards-content .cards-restaurants .cards-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.restaurants .cards-content .cards-restaurants .cards-bottom .card-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/***fin de main-container -->homepage

/***menu-content***/
.menu {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin: -40px 0px 0px 0px;
  background-color: #F6F6F6;
  position: relative;
  padding: 28px 13px 40px 13px;
  /***button***/
}
.menu .menu-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.menu .menu-intro .menu-title {
  font-size: 28px;
  font-weight: 400;
  font-family: Shrikhand;
}
.menu .menu-content {
  display: flex;
  flex-direction: column;
}
.menu .menu-content article {
  margin-bottom: 40px;
}
.menu .menu-content h2 {
  font-size: 16px;
  font-weight: 300;
}
.menu .menu-content ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu .menu-content ul li {
  box-shadow: 0px 1px 10px 6px rgba(67, 67, 67, 0.1);
  border-radius: 15px;
  padding: 12px 15px 12px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu .menu-content ul h3 {
  font-size: 18px;
  font-weight: 500;
}
.menu .menu-content ul .last-sentence-menu {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 15px;
}
.menu .menu-content ul .last-sentence-menu .price {
  font-weight: 700;
  font-size: 15px;
}
.menu .menu-content ul .last-sentence-menu p {
  font-weight: 300;
  font-size: 15px;
}
.menu .pink-button {
  border-radius: 25px;
  border: 1px solid var(--main-bg-color);
  background: linear-gradient(#FF79DA, #9356DC);
  display: flex;
  justify-content: center;
  margin: auto;
}
.menu .pink-button p {
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 49px;
  padding-right: 49px;
}

/***footer***/
footer {
  background-color: #353535;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-block-end: 0px;
  margin-block-start: 10px;
  padding-inline-start: 0px;
  list-style-type: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
footer ul .small-footer {
  font-size: 16px;
  font-weight: 400;
}
footer .fa-utensils {
  padding-right: 8px;
}
footer .fa-handshake-angle {
  padding-right: 6px;
}
footer .text-logo {
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  color: white;
}/*# sourceMappingURL=style.css.map */