/***mixin media query****/
/***mixin-shadows***/
/***mixin-color***/
/***General***/
/***Loader-content***/
.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: white;
  animation: back 6s linear;
  z-index: 5;
}

.loader-circle {
  position: absolute;
  width: 150px;
  height: 150px;
  border-bottom: 12px solid #99E2D0;
  border-top: 12px solid #FF79DA;
  border-radius: 80px;
  font-family: Shirkhand;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(0deg);
  opacity: 1;
  animation: spin 5s linear;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
}

@keyframes spin {
  0% {
    transform: translate(-50%, 50%) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 50%) rotate(360deg);
    opacity: 0;
  }
}
@keyframes back {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/***end-loader***/
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1441px) and (max-width: 10000px) {
  body {
    margin-right: 10%;
    margin-left: 10%;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #9356DC;
  --main-bg-color: #FF79DA;
  --filter-bg-color: #99E2D0;
}

h1, h3, p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-block-start: 0px;
  margin-block-end: 12px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  h2 {
    margin-block-end: 25px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  h2 {
    margin-block-end: 25px;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  h2 {
    margin-block-end: 25px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 17px;
  font-weight: 300;
}

ul {
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

.main-content {
  display: flex;
  justify-content: center;
}

/***header**/
header {
  display: flex;
  flex-direction: column;
}
header .header-location {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 17px;
  padding: 15px;
  background-color: #EAEAEA;
}
header .header-location form {
  display: flex;
  justify-content: center;
  width: 32%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  header .header-location form {
    width: 20%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  header .header-location form {
    width: 11%;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  header .header-location form {
    width: 11%;
  }
}
header .header-location form input[type=text i] {
  text-align: center;
  padding-inline-start: 0px;
  font-size: 16px;
  font-weight: 500;
  background-color: #EAEAEA;
  color: #353535;
  width: 100%;
}
header .header-location form input {
  border-width: 0px;
}
header .header-location form input::-moz-placeholder {
  color: black;
  opacity: 1;
}
header .header-location form input::placeholder {
  color: black;
  opacity: 1;
}
header .logo-header {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  header .logo-header {
    gap: 29%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  header .logo-header {
    gap: 22%;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  header .logo-header {
    gap: 22%;
  }
}
header .logo-header .arrow, header .logo-header .white-arrow {
  display: flex;
  width: 20%;
  padding-left: 15px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  header .logo-header .arrow, header .logo-header .white-arrow {
    width: auto;
  }
}
header .logo-header .white-arrow {
  color: white;
}
header .logo-header img {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 15px;
  height: auto;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  header .logo-header img {
    width: 14%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header .logo-header img {
    width: 34%;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  header .logo-header img {
    width: 14%;
  }
}

/***fin de main-container -->homepage

/***footer***/
footer {
  background-color: #353535;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    align-items: baseline;
    padding: 25px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  footer {
    flex-direction: row-reverse;
    align-items: baseline;
    padding: 25px;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  footer {
    flex-direction: row-reverse;
    align-items: baseline;
    padding: 25px;
  }
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-block-end: 0px;
  margin-block-start: 10px;
  padding-inline-start: 0px;
  list-style-type: none;
  color: white;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer ul {
    padding-inline-end: 20px;
    flex-direction: row;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  footer ul {
    flex-direction: row;
    padding-inline-end: 20px;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  footer ul {
    flex-direction: row;
    padding-inline-end: 20px;
  }
}
footer ul a {
  color: white;
  text-decoration: none;
}
footer ul li {
  font-size: 16px;
  font-weight: 500;
}
footer ul .small-footer {
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  footer ul .small-footer {
    padding-inline-start: 30px;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  footer ul .small-footer {
    padding-inline-start: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer ul .small-footer {
    padding-inline-start: 25px;
  }
}
footer ul .small-footer-mail {
  font-size: 16px;
  font-weight: 400;
}
footer ul .fa-utensils {
  padding-right: 8px;
}
footer ul .fa-handshake-angle {
  padding-right: 6px;
}
footer .logo-footer {
  color: white;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  footer .logo-footer {
    padding-inline-start: 40px;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  footer .logo-footer {
    padding-inline-start: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .logo-footer {
    padding-inline-start: 25px;
  }
}
footer .logo-footer p {
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
}/*# sourceMappingURL=style.css.map */