/***mixin media query****/
/***mixin-shadows***/
/***mixin-color***/
/***General***/
/***Loader-content***/
.loader-content {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: white;
  animation: back 6s linear;
}

.loader-circle {
  position: absolute;
  width: 150px;
  height: 150px;
  border-bottom: 12px solid var(--filter-bg-color);
  border-top: 12px solid var(--main-bg-color);
  border-radius: 80px;
  font-family: Shirkhand;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(0deg);
  opacity: 1;
  animation: spin 5s linear;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: translate(-50%, 50%) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 50%) rotate(360deg);
    opacity: 0;
  }
}
@keyframes back {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
/***end-loader***/
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1441px) and (max-width: 10000px) {
  body {
    margin-right: 10%;
    margin-left: 10%;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #9356DC;
  --main-bg-color: #FF79DA;
  --filter-bg-color: #99E2D0;
}

h1, h3, p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-block-start: 0px;
  margin-block-end: 12px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  h2 {
    margin-block-end: 25px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  h2 {
    margin-block-end: 25px;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  h2 {
    margin-block-end: 25px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 17px;
  font-weight: 300;
}

ul {
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

.main-content {
  display: flex;
  justify-content: center;
}

/***header**/
header {
  display: flex;
  flex-direction: column;
  /***img-header-menu**/
}
header .header-location {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 17px;
  padding: 15px;
  background-color: #EAEAEA;
}
header .header-location form {
  display: flex;
  justify-content: center;
  width: 32%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  header .header-location form {
    width: 20%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  header .header-location form {
    width: 11%;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  header .header-location form {
    width: 11%;
  }
}
header .header-location form input[type=text i] {
  text-align: center;
  padding-inline-start: 0px;
  font-size: 16px;
  font-weight: 500;
  background-color: #EAEAEA;
  color: #353535;
  width: 100%;
}
header .header-location form input {
  border-width: 0px;
}
header .header-location form input::-moz-placeholder {
  color: black;
}
header .header-location form input::placeholder {
  color: black;
}
header .logo-header {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  header .logo-header {
    gap: 29%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  header .logo-header {
    gap: 22%;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  header .logo-header {
    gap: 22%;
  }
}
header .logo-header .arrow, header .logo-header .white-arrow {
  display: flex;
  width: 20%;
  padding-left: 15px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  header .logo-header .arrow, header .logo-header .white-arrow {
    width: auto;
  }
}
header .logo-header .white-arrow {
  color: white;
}
header .logo-header img {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 15px;
  height: auto;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  header .logo-header img {
    width: 14%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header .logo-header img {
    width: 34%;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  header .logo-header img {
    width: 14%;
  }
}
header img {
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  header img {
    height: 383px;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  header img {
    height: 383px;
  }
}

/****Main-container -->homepage****/
.introduction {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 35px 40px 35px;
}
.introduction h1 {
  display: flex;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding-top: 45px;
  padding-bottom: 10px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .introduction h1 {
    font-size: 32px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .introduction h1 {
    font-size: 40px;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  .introduction h1 {
    font-size: 40px;
  }
}
.introduction p {
  display: flex;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 30px;
}
.introduction .pink-button {
  border-radius: 25px;
  border: 1px solid var(--main-bg-color);
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  box-shadow: 5px 7px 8px rgba(82, 81, 81, 0.1);
  transition: 1s;
}
.introduction .pink-button:hover {
  opacity: 0.7;
  transition: 500ms;
  box-shadow: 5px 7px 8px rgba(82, 81, 81, 0.4);
}
.introduction .pink-button p {
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.introduction .pink-button a {
  color: white;
  text-decoration: none;
}

/***main-container-functioning***/
/***functioning-box***/
.functioning {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 18px;
  padding-right: 18px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .functioning {
    padding: 40px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .functioning {
    padding: 50px 180px 50px 180px;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  .functioning {
    padding: 50px 180px 50px 180px;
  }
}
.functioning .content-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .functioning .content-box {
    flex-direction: row;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .functioning .content-box {
    flex-direction: row;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  .functioning .content-box {
    flex-direction: row;
  }
}
.functioning .content-box .box {
  display: flex;
  align-items: center;
  width: 100%;
}
.functioning .content-box .box .number {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--main-color);
  border-radius: 50px;
  padding: 2px 6px 2px 6px;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
}
.functioning .content-box .box .section-box {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 7px 8px rgba(82, 81, 81, 0.1);
  padding: 26px 10px 26px 30px;
  margin-left: 10px;
  background-color: #F6F6F6;
}
.functioning .content-box .box .section-box p {
  padding-inline-start: 20px;
  font-size: 16px;
  font-weight: 500;
}
.functioning .content-box .box .section-box .fa-bars, .functioning .content-box .box .section-box .fa-mobile-screen-button {
  color: #7E7E7E;
}
.functioning .content-box .box .section-box .fa-store {
  color: var(--main-color);
}

/***Restaurants***/
.restaurants {
  background-color: #F6F6F6;
  padding: 40px 18px 40px 18px;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .restaurants {
    padding: 50px 180px 50px 180px;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  .restaurants {
    padding: 50px 180px 50px 180px;
  }
}
.restaurants .cards-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurants .cards-content {
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .restaurants .cards-content {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 9%;
         column-gap: 9%;
    row-gap: 50px;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  .restaurants .cards-content {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 9%;
         column-gap: 9%;
    row-gap: 50px;
  }
}
.restaurants .cards-content .cards-restaurants {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 7px 8px rgba(82, 81, 81, 0.1);
  border-radius: 15px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurants .cards-content .cards-restaurants {
    width: 47%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .restaurants .cards-content .cards-restaurants {
    width: 45%;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  .restaurants .cards-content .cards-restaurants {
    width: 45%;
  }
}
.restaurants .cards-content .cards-restaurants a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
}
.restaurants .cards-content .cards-restaurants a .new-badge {
  position: absolute;
  left: 73%;
  top: 4%;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurants .cards-content .cards-restaurants a .new-badge {
    left: 76%;
    top: 6%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .restaurants .cards-content .cards-restaurants a .new-badge {
    left: 73%;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  .restaurants .cards-content .cards-restaurants a .new-badge {
    left: 73%;
  }
}
.restaurants .cards-content .cards-restaurants a img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 173px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .cards-content .cards-restaurants .cards-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.restaurants .cards-content .cards-restaurants .cards-bottom a {
  width: 88%;
}
.restaurants .cards-content .cards-restaurants .cards-bottom a .card-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.restaurants .cards-content .cards-restaurants .cards-bottom .like {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  cursor: pointer;
}
.restaurants .cards-content .cards-restaurants .cards-bottom .like .full-heart, .restaurants .cards-content .cards-restaurants .cards-bottom .like .empty-heart {
  position: absolute;
  font-size: 20px;
}
.restaurants .cards-content .cards-restaurants .cards-bottom .like .full-heart {
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 400ms ease;
}
.restaurants .cards-content .cards-restaurants .cards-bottom .like .full-heart:active, .restaurants .cards-content .cards-restaurants .cards-bottom .like .full-heart:hover {
  opacity: 1;
  transition: 400ms;
}
.restaurants .cards-content .cards-restaurants .cards-bottom .like .empty-heart {
  opacity: 1;
}
.restaurants .cards-content .cards-restaurants .cards-bottom .like .empty-heart:hover, .restaurants .cards-content .cards-restaurants .cards-bottom .like .empty-heart:active {
  opacity: 0;
}

/***fin de main-container -->homepage

/***menu-content***/
.menu {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin: -40px 0px 0px 0px;
  background-color: #F6F6F6;
  position: relative;
  padding: 28px 13px 40px 13px;
  /***keyframes apparition-check**/
  /***button***/
}
@media (min-width: 768px) and (max-width: 1024px) {
  .menu {
    margin: -40px 100px 0px 100px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .menu {
    margin-left: 13%;
    margin-right: 13%;
    padding: 28px 213px 40px 213px;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  .menu {
    margin-left: 13%;
    margin-right: 13%;
    padding: 28px 213px 40px 213px;
  }
}
.menu .menu-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .menu .menu-intro {
    justify-content: center;
    gap: 20px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .menu .menu-intro {
    margin-bottom: 40px;
    gap: 4%;
    justify-content: center;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  .menu .menu-intro {
    margin-bottom: 40px;
    gap: 4%;
    justify-content: center;
  }
}
.menu .menu-intro .like {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.menu .menu-intro .like .full-heart, .menu .menu-intro .like .empty-heart {
  position: absolute;
  font-size: 20px;
}
.menu .menu-intro .like .full-heart {
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 400ms;
}
.menu .menu-intro .like .full-heart:active, .menu .menu-intro .like .full-heart:hover {
  opacity: 1;
}
.menu .menu-intro .like .empty-heart {
  opacity: 1;
}
.menu .menu-intro .like .empty-heart:hover, .menu .menu-intro .like .empty-heart:active {
  opacity: 0;
}
.menu .menu-intro .menu-title {
  font-size: 28px;
  font-weight: 400;
  font-family: Shrikhand;
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu .menu-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .menu .menu-content {
    padding: 0px 30px 0px 30px;
  }
}
.menu .menu-content .article-one {
  animation: apparition 2s;
}
.menu .menu-content .article-two {
  animation: apparition 8s;
}
.menu .menu-content .article-three {
  animation: apparition 14s;
}
.menu .menu-content article {
  margin-bottom: 40px;
}
.menu .menu-content article h2 {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 6px;
  border-bottom: 3px solid #99E2D0;
  width: 11%;
}
.menu .menu-content article ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .menu .menu-content article ul {
    gap: 25px;
  }
}
.menu .menu-content article ul li {
  box-shadow: 0px 1px 10px 6px rgba(67, 67, 67, 0.1);
  border-radius: 15px;
  padding: 12px 15px 12px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.menu .menu-content article ul li:active .order, .menu .menu-content article ul li:hover .order {
  text-align: center;
  right: 0%;
  width: 10%;
  height: 36%;
  padding: 22px 12px;
  transition: 1s;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .menu .menu-content article ul li:active .order, .menu .menu-content article ul li:hover .order {
    width: 7%;
  }
}
.menu .menu-content article ul li:active .order .fa-circle-check, .menu .menu-content article ul li:hover .order .fa-circle-check {
  display: flex;
  justify-content: center;
}
.menu .menu-content article ul li:active .text-meals, .menu .menu-content article ul li:hover .text-meals {
  width: 85%;
  transition: 1s;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .menu .menu-content article ul li:active .text-meals, .menu .menu-content article ul li:hover .text-meals {
    width: 88%;
  }
}
.menu .menu-content article ul li .text-meals {
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: 1s ease-in-out 0s;
  width: 100%;
  overflow: hidden;
}
.menu .menu-content article ul li .text-meals h3 {
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}
.menu .menu-content article ul li .text-meals .last-sentence-menu {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 15px;
}
.menu .menu-content article ul li .text-meals .last-sentence-menu .price {
  font-weight: 700;
  font-size: 15px;
  text-overflow: inherit;
  overflow: auto;
}
.menu .menu-content article ul li .text-meals .last-sentence-menu p {
  font-weight: 300;
  font-size: 15px;
}
.menu .menu-content article ul li .text-meals .last-sentence-menu .meals {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}
.menu .menu-content article ul li .order {
  right: 0%;
  transition: 1s ease-in-out 0s;
  width: 0%;
  height: 97%;
  position: absolute;
  top: 0%;
  background-color: #99E2D0;
  padding: 0px;
  border-radius: 15px;
  text-align: center;
}
.menu .menu-content article ul li .order .fa-circle-check {
  display: none;
  font-size: 20px;
  color: white;
}
.menu .pink-button {
  border-radius: 25px;
  border: 1px solid var(--main-bg-color);
  background: linear-gradient(#FF79DA, #9356DC);
  display: flex;
  justify-content: center;
  margin: auto;
}
.menu .pink-button:hover {
  opacity: 0.7;
  transition: 500ms;
  box-shadow: 5px 7px 8px rgba(82, 81, 81, 0.4);
}
.menu .pink-button p {
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 49px;
  padding-right: 49px;
}

/***footer***/
footer {
  background-color: #353535;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    align-items: baseline;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  footer {
    flex-direction: row-reverse;
    align-items: baseline;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  footer {
    flex-direction: row-reverse;
    align-items: baseline;
  }
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-block-end: 0px;
  margin-block-start: 10px;
  padding-inline-start: 0px;
  list-style-type: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer ul {
    padding-inline-end: 20px;
    flex-direction: row;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  footer ul {
    flex-direction: row;
    padding-inline-end: 20px;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  footer ul {
    flex-direction: row;
    padding-inline-end: 20px;
  }
}
footer ul a {
  color: white;
  text-decoration: none;
}
footer ul .footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer ul .footer-bottom {
    flex-direction: row;
    padding-inline-start: 20px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  footer ul .footer-bottom {
    flex-direction: row;
    padding-inline-start: 40px;
  }
}
@media (min-width: 1441px) and (max-width: 10000px) {
  footer ul .footer-bottom {
    flex-direction: row;
    padding-inline-start: 40px;
  }
}
footer ul .footer-bottom .small-footer {
  font-size: 16px;
  font-weight: 400;
}
footer ul .fa-utensils {
  padding-right: 8px;
}
footer ul .fa-handshake-angle {
  padding-right: 6px;
}
footer .logo-footer {
  color: white;
}
footer .logo-footer p {
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
}/*# sourceMappingURL=style.css.map */